<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="StyleSheet" href="/estilos/estilo.css">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body >
  <ul class="nav justify-content-end" style="background-color: #eed09d;">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/" style="color: black;"><u>Inicio</u></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="productos" style="color: black;"><u>Productos</u></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="panaderias" style="color: black;"><u>Panaderias</u></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="formularioregistro" style="color: black;"><u>Registrar</u></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="formulariologin" style="color: black;"><u>Iniciar Sesion</u></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="carrito" style="color: black;"><u>Carrito</u></a>
    </li>
  </ul>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: url(/static/FodoInicio.jpg);width: 100%; height: 100%; position: absolute; background-size: cover;">
  <form style="width: 100%; text-align: center;">
    <div class="mb-3" style="width: 100%;">
      <h1 style="text-align: center;"><b>Bienvenido a PanApp</b></h1>
      <img src="/static/LogoPanAppInicio.gif" style="border-radius: 65%;"></a>

      <footer style="margin-top: 50px;">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2020 Copyright:ADSI 2339490 - Developers Team<br>
          <a class="text-dark" href="http://centrodecomercioyturismo.blogspot.com/" target="blanck">SENA</a>
        </div>
        <!-- Copyright -->
      </footer>
      
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>